.card {
    max-width: 200px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    align-items: flex-start;
}

.card img {
    width: 100%;
    height: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
}

.card h1 {
    margin: 10px 0;
    font-size: 25px;
    color: #1c1c1c;
}

.card p {
    margin: 0;
}

.card button {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-bottom: -270px;
    margin-left: 160px;
    color: white;
    background-color: #c67c4e;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
}

.card-off {
    background-color: #e5e5e5;
    color: #1c1c1c;
}

.card-filter {
    margin: 20px 0;
}

.card-filter button {
    margin: 0 20px;
    padding: 6px 10px;
    border: 0;
    font-size: 18px;
    border-radius: 5px;
}

.card-filter button.active {
    color: whitesmoke;
    background-color: #c67c4e;
}

.menu-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.link-card {
    display: block;
    text-decoration: none;
    color: #a7a7a7;
}