.header {
    height: 400px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
}

.menu-select {
    font-size: large;
    border: 0;
    background-color: #00000000;
}

.menu-select option {
    background-color: #202020;
}